* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  letter-spacing: -0.02em;

  background: linear-gradient(167.96deg, #8257e5 0%, #271a45 100%) no-repeat;

  height: 100vh;
  display: grid;
  place-content: center;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15%;
  width: 100%;
  height: 100%;
  background: linear-gradient(#b33ab4, #5c1dfd);
  clip-path: circle(18% at 84% 76%);
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 20%;
  width: 100%;
  height: 100%;
  /* background: rgb(155, 50, 199); */
  background: linear-gradient(
    90deg,
    rgba(155, 50, 199, 1) 0%,
    rgba(121, 9, 75, 1) 50%,
    rgba(0, 134, 255, 1) 100%
  );
  clip-path: circle(12% at 16% 20%);
  z-index: -1;
}

.grid {
  display: grid;
}

.column {
  grid-auto-flow: column;
}

.text-right {
  text-align: right;
}

h1,
strong {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #fff;
  text-align: center;
}

p {
  color: rgba(0, 0, 0, 0.79);
  font-size: 1.4rem;
  line-height: 1.7rem;
}

strong {
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: rgba(0, 0, 0, 0.88);
}

section {
  /* background-color: #fff; */
  background: rgba(255, 255, 255, 0.2);
  padding: 2.4rem 3.2rem;

  -webkit-mask: var(--mask);
  mask: var(--mask);
}

#boarding-pass {
  margin: auto;
}

#ticket {
  margin-top: 2rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(2.2px);
  border-radius: 2.4rem;
  /* border: 1px solid rgba(255, 255, 255, 0.8); */
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6); */
  filter: drop-shadow(6px 5px 3px rgba(0, 0, 0, 0.5));

}

.top {
  border-radius: 2.4rem 2.4rem 0 0;
  gap: 2.4rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);

  --mask: radial-gradient(1.2rem at 1.2rem bottom, transparent 100%, black) -1.2rem;
}

.departure,
.arrival {
  width: 12.5rem;
}

.departure strong,
.arrival strong {
  font-size: 4rem;
  line-height: 4.7rem;
}

.airplane {
  align-self: center;
}

.top time {
  color: rgba(0, 0, 0, 0.8);
}

.top time sup {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
}

dt time {
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  background: #663bbc;
  border-radius: 8px;
  padding: 4px 8px;
  display: inline-block;
  margin-top: 0.2rem;
}

.middle {
  border: 1px dashed rgba(0, 0, 0, 0.52);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);

  --mask: radial-gradient(1.2rem at 1.2rem 1.2rem, transparent 95%, black) -1.2rem -1.2rem;
}

.bottom {
  border-radius: 0 0 2.4rem 2.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);

  --mask: radial-gradient(1.2rem at 1.2rem top, transparent 95%, black) -1.2rem;
}

.bottom .container {
  align-items: center;
  gap: 0.8rem;
}

dl.grid {
  gap: 1.6rem;
  min-width: 9.5rem;
}

.bottom > p {
  text-align: center;
  margin-top: 2.4rem;
  font-size: 1.6rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.8);
}

.qrcode.grid {
  justify-items: center;
}

footer {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #fff;
  opacity: 0.64;
  width: 27rem;
  text-align: center;
  margin: 2rem auto;
}
