* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  /************ bg ***************/
  --bg01: linear-gradient(180deg, #22262a 0%, #181a1d 100%);
  --bg02: linear-gradient(135deg, #2f3439, #1d1f23);
  --bg03: linear-gradient(135deg, #2c3136, #1d2023);
  --bg04: #040404;
  --border01: #322751;
  --border02: #1a1d21;

  /************ box-shadow ***************/
  --box-shadow01: 6px 6px 10px #151618, -6px -6px 10px #3e3163,
    inset 2px 2px 6px #322751, inset -3px -3px 6px #322751;

  --box-shadow02: -2px -2px 20px #151618, 2px 2px 20px #2c3136,
    inset 2px 2px 6px #33353b, inset -3px -3px 6px #151618;

  --box-shadow03: 6px 6px 12px #151618, -6px -6px 12px #2c3136;

  --box-shadow04: inset 2px 2px 3px -2px rgba(169, 169, 171, 0.322),
    inset 0pc -1px 1px 0px #4a4c4e;

  --box-shadow05: 8px 8px 12px #151618, -2px -2px 10px #2c3136,
    inset 2px 2px 3px #33353b, inset -2px -2px 3px #151618;

  --box-shadow06: 10px 10px 12px #151618, -10px -10px 12px #222529,
    inset 4px 4px 8px #33353b, inset -4px -4px 8px #151618;

  --box-shadow07: 10px 10px 12px #151618, -10px -10px 12px #222529,
    inset -4px -4px 8px #33353b, inset 4px 4px 8px #151618;
}

body {
  font-size: 1.6rem;
  background-color: #150f26;
  font-family: "Roboto", sans-serif;
}

#app * {
  /* border: 1px solid red; */
}

#app {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas:
    "A B"
    "A C";

  gap: 32px;
  place-content: center;
  height: 100vh;
}

#player-1 {
  grid-area: A;
  padding: 50px 38px;
}

#player-1 .wrapper {
  width: 190px;
}

#player-1 img {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 50%;
}

#player-1 .info {
  margin-top: 28px;
}

#player-2 {
  grid-area: B;
  height: fit-content;
}

#player-3 {
  grid-area: C;
}

.player {
  background-color: #2a2141;
  padding: 28px;
  border-radius: 10px;
}

.player img {
  width: 84px;
  height: 84px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #322751;
  box-shadow: var(--box-shadow03);
}

.info-wrapper {
  display: flex;
  align-items: center;
  gap: 28px;
}

.info {
  color: #e1e1e6;
}

.info h1 {
  font-size: 24px;
  margin-bottom: 9.6px;
}

.info p {
  font-size: 19px;
  opacity: 0.67;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.horizontal .controls {
  padding-inline: 58px;
}

/* .track {
  margin-top: 28px;
  position: relative;
} */

/* .track::before {
  content: "";
  height: 6px;
  width: 100%;
  display: block;
  background: #d9d9d9;
  opacity: 0.3;
  border-radius: 10px;

  position: absolute;
} */

/* .track::after {
  content: "";
  height: 6px;
  width: 80%;
  display: block;
  background: #d9d9d9;
  border-radius: 10px;
} */

.time {
  font-size: 14px;
  color: #c4c4cc;
  opacity: 0.7;
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}

.prev,
.play,
.next {
  background: var(--bg02);
  border: 2px solid var(--border01);
  box-shadow: var(--box-shadow01);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.prev:active {
  box-shadow: var(--box-shadow02);
}

.play:active {
  box-shadow: var(--box-shadow02);
}

.next:active {
  box-shadow: var(--box-shadow02);
}

.progress-area {
  height: 7px;
  width: 100%;
  margin-top: 15px;
  border-radius: 50px;
  background: var(--bg04);
  box-shadow: var(--box-shadow04);
  cursor: pointer;
}

.progress-area .progress-bar {
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: linear-gradient(90deg, #bf2311 0%, #e1530a 80%);
  box-shadow: var(--box-shadow04);
}

.progress-bar::before {
  content: "";
  position: absolute;
  background: var(--bg02);
  box-shadow: var(--box-shadow05);
  border-radius: 50%;
  top: 50%;
  right: -14px;
  z-index: 2;
  width: 18px;
  height: 18px;
  outline: none;
  border: none;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.2s ease;
}

.progress-bar::after {
  content: "";
  position: absolute;
  background: #7c64c9;
  box-shadow: var(--box-shadow05);
  border-radius: 50%;
  top: 50%;
  right: -10px;
  z-index: 2;
  width: 10px;
  height: 10px;
  outline: none;
  border: none;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.2s ease;
}

.rotate {
  animation: rotation 8s infinite linear;
  transform-origin: center;
}

@keyframe rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 670px) {
  #app {
    display: flex;
    flex-direction: column;

    max-width: 270px;
    margin: auto;

    height: auto;

    padding-block: 60px;
  }

  .player img {
    width: 54px;
    height: 54px;
    object-fit: cover;
    border-radius: 50%;
  }

  #player-2 h1 {
    font-size: 18px;
  }
  #player-3 h1 {
    font-size: 18px;
  }
  #player-2 p {
    font-size: 16px;
  }
  #player-3 p {
    font-size: 16px;
  }

  .horizontal .controls {
    padding-inline: 18px;
  }
}
